fastapi==0.104.1
uvicorn[standard]==0.24.0
httpx==0.25.2
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-logging
